$base-color: #25395f;
$base-color-2: #ffffff;
$secondary-color: #dde0e4;
$button-color: #34afa7;
$button-color-hover: #14c6bb;
$link-color: #1890ff;

$base-color-text: #64ffdb;
$base-color-text-2: #a5b8d8;
$heading-color: #14c6bb;
