button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 48px;
    cursor: pointer;
    background-color: $button-color;
    color: $base-color-2;
    width: 200px;
    outline: none;
    outline-style: none;
    border: none;
    box-shadow: none;
    user-select: none;

    &:hover {
        color: $base-color-2;
        background: $button-color-hover;
        border: none;
        transition: all .5s;
    }
}

